.section-title {
  text-transform: uppercase;
  font-size: 1.23rem;
  color: #0e0b20;
  margin-bottom: 1em!important;
  line-height: 1.7;
}

.text-upper {
  text-transform: uppercase!important;
}

.font-16 {
  font-size: 1.23rem
}

.button {
  line-height: 1.5;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 0 15px;
  font-size: 13px;
  border-radius: 4px;
  height: 32px;
  color: rgba(0,0,0,.65);
  background-color: #ffffff;
  border-color: #e4e9f0;
  margin-left: 10px;
}

.button:hover {
  color: #ffffff;
  background-color: #0A93EB;
  border-color: #e4e9f0;
}