.layout {
  overflow-x: hidden;
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex: auto;
  flex: auto;
}



.layout-content {
  height: 100%;
  flex: auto;
  -ms-flex: auto;
}

.main-content {
  padding: 2.3em;
  max-width: 1400px;
  margin: 0 auto;
}